body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container{
    width: 95%;
    max-width: 1200px;
}

.board{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.cell{
    width: 80px;
    height: 80px;
    border: 10px solid blue;
    border-radius: 5px;
    background-color: rgb(0, 0, 255);
    display: grid;
    place-items: center;
    font-size: 30px;
}

.circle{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.circle-red{
    background-color: red !important;
}

.circle-yellow{
    background-color: yellow !important;
}