body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: radial-gradient(
    transparent 29%,
    #dcdbef 30%,
    #dcdbef 50%,
    transparent 51%,
    transparent 74%,
    #dcdbef 75%,
    #dcdbef 95%,
    transparent 96%
  );
  background-size: 3em 3em;
  background-color: #ffffff;
  opacity: 1;
}

.container {
  width: 95%;
  max-width: 1200px;
  text-align: center;
}

.stadistics {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.points {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px 5px black;
}

.points:first-of-type {
  color: rgb(255, 0, 0);
}

.points:last-of-type {
  color: yellow;
}

.points h3 {
  margin: 5px;
}

.board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.cell {
  width: 80px;
  height: 80px;
  border: 10px solid blue;
  border-radius: 5px;
  background-color: rgb(0, 0, 255);
  display: grid;
  place-items: center;
  font-size: 30px;
}

.circle {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.circle-red {
  background-color: red !important;
}

.circle-yellow {
  background-color: yellow !important;
}

.buttons {
  grid-column: 1/8;
  background-color: darkblue;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 50px;
  border-radius: 5px 5px 0 0;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  color: black;
  background-color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  opacity: 0.8;
}

.turns {
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 40px;
}

.player {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.player.active {
  border: 5px solid black;
}

.player.player-1 {
  background-color: red;
}

.player.player-2 {
  background-color: yellow;
}
