@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

/**Globals**/
:root{
  --player-1-color: #ff94a2;
  --player-2-color: #ffe180;
  --board-color: #b8e4ff;
  --buttons-color: #95b8f6;
  --black: #555;
  --background: #fbf7f0;

  --font-family: 'Protest Guerrilla', sans-serif;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--background);
  opacity: 1;
  font-family: var(--font-family);

}

/**Utilities**/

.container {
  max-width: 120rem;
  text-align: center;
}

/**Main Title**/

.title{
  font-size: 5rem;
  text-transform: uppercase;
  text-shadow: .3rem .4rem .7rem var(--black);
  margin: 0;
  color: var(--board-color);
}

.title::after, .title::before {
  content: '••••';
  margin: 0 1rem;
  
}

.title::before {
  color: var(--player-1-color);
}

.title::after {
  color: var(--player-2-color);
}

/**Stadistics**/

.stadistics {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 1.5rem;
  gap: 3.5rem;
}

.stadistics__points {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: .2rem .2rem .5rem var(--black);
  background-color: white;
  padding: 1rem;
  border-radius: .5rem;
  box-shadow: .3rem .3rem .5rem var(--black);
}

.stadistics__h3 {
  margin: .2rem 0;
  text-shadow: .1rem .2rem .2rem var(--black);
}

.stadistics__player-name{
  letter-spacing: .5rem;
  text-transform: uppercase;
  font-size:  2.5rem;
}

.stadistics__actual-points{
  font-size: 5rem;
}

.stadistics__actual-points--red, .stadistics__player-name--red {
  color: var(--player-1-color);
}

.stadistics__actual-points--yellow, .stadistics__player-name--yellow {
  color: var(--player-2-color);
}

/**Board**/

.board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.board__cell {
  width: 8rem;
  height: 8rem;
  border: .5rem solid var(--board-color);
  background-color: var(--board-color);
  border-radius: .3rem;
  display: grid;
  place-items: center;
  font-size: 3rem;
}

.board__circle {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.board__circle--red {
  background-color: var(--player-1-color) !important;
  border: .3rem solid var(--buttons-color);
}

.board__circle--yellow {
  background-color: var(--player-2-color) !important;
  border: .3rem solid var(--buttons-color);
}

/**Buttons**/

.buttons {
  grid-column: 1/8;
  background-color: var(--buttons-color);
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
  border-radius: .5rem .5rem 0;
}

.btn {
  padding: 1rem 2rem;
  border-radius: .5rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.6rem;
  color: var(--black);
  background-color: white;
  text-transform: uppercase;
  letter-spacing: .1rem;
  box-shadow: .2rem .2rem .3rem var(--black);
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  opacity: 0.8;
}

.btn--reset{
  background-color: var(--player-1-color);
}

.btn--resetPoints {
  background-color: var(--player-2-color);
}

/**Turns**/

.turns {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
  gap: 4rem;
}

.turns__player {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.turns__player.active {
  border: .3rem solid var(--black);;
}

.turns__player-1 {
  background-color: var(--player-1-color);
}

.turns__player-2 {
  background-color: var(--player-2-color);
}
