@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .container{
        width: min(90%, 1200px) !important;
        @apply mx-auto
    }
}

#phone{
  background-image: url("./img/phone.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 360px;
  height: 722px;
}
