@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .container{
        width: min(90%, 1200px) !important;
        @apply mx-auto
    }
}

#phone{
  background-image: url("./img/phone.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 360px;
  height: 722px;
}

.conic-gradient-progress {
  background-image: conic-gradient(rgb(59 7 100) calc(100% - var(--progress)), transparent calc(100% - var(--progress)));
}
