@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");

:root {
  --azul-oscuro: #2b3d4f;
  --azul: #3398db;
  --verde: #2ecc70;
  --amarillo: #f39c12;
  --rojo: #e74d3c;

  --negro: #000;
  --blanco: #fff;

  --font-family: "Rowdies", cursive;
  --box-shadow: 0.5rem 0.5rem 0.5rem var(--negro);
  --text-shadow: 0.2rem 0.2rem 0.5rem var(--negro);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  min-height: 100vh;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/*UTILIDADES*/

.container {
  width: min(90%, 120rem);
  margin: 0 auto;
}

.swal2-modal {
  font-family: var(--font-family);
  font-size: 1.6rem;

  & button{
    font-family: inherit;
  }
}



