@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");

:root {
  --font-family: "Days One", sans-serif;

  --white: #fff;
  --black: #000;
  --opaqueYellow: rgba(255, 255, 0, 0.3);
  --yellow: #faec1d;

  --opaqueRed: rgba(255, 0, 0, 0.3);
  --red: #9e0000;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: min(90%, 120rem);
  margin: 0 auto;
}

/*Reutilizables*/

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  & .by,
  .powered {
    color: var(--white);
    font-family: var(--font-family);
  }

  & .link {
    color: var(--yellow);
    font-weight: normal;
  }

  & .by {
    font-size: 1.6rem;
  }

  & .powered {
    font-size: 1.2rem;
  }

  & .by,
  .powered {
    z-index: 2;
  }

  & .copyright {
    color: var(--white);
    font-size: 1.2rem;
    font-family: var(--font-family);
    text-align: center;
    z-index: 2;
  }
}

/**Header**/

.header {
  background-color: var(--black);
  height: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  & .image {
    width: min(70%, 50rem);
  }

  & .title {
    color: var(--white);
    font-family: var(--font-family);
  }

  & .title {
    font-size: 2.5rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    text-align: center;
    margin: 3rem 0;
  }

  & .by {
    margin: 2rem 0;
  }
}

/**Search Bar**/

.search-bar {
  text-align: center;
  & .search {
    margin: 2rem 0;
    width: 100%;
    padding: 1rem;
    border: 0.3rem solid var(--black);
    border-radius: 1rem;
    font-size: 1.6rem;
    font-family: var(--font-family);
    box-shadow: 0.2rem 0.2rem 0.3rem var(--black);
    transition: all 0.3s ease-in-out;

    &:focus {
      outline: none;
    }

    @media screen and (min-width: 768px) {
      width: 75%;
    }

    @media screen and (min-width: 1024px) {
      width: 50%;
    }
  }
}

/**Messages**/

.messages {
  font-family: var(--font-family);
  margin: 0 auto 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  & .alert {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }

  & .error {
    background-color: var(--opaqueRed);
    border-left: 0.5rem solid var(--red);
    border-right: 0.5rem solid var(--red);
  }

  & .loading {
    background-color: var(--opaqueYellow);
    border-left: 0.5rem solid var(--yellow);
    border-right: 0.5rem solid var(--yellow);
  }
}

/**Main**/
.main {
  & .not-found {
    height: 20rem;

    & .not-found-text {
      color: var(--black);
      font-size: 3rem;
      font-family: var(--font-family);
      text-align: center;
      line-height: 20rem;
    }
  }
}

/**Footer**/
.footer {
  background-color: var(--black);
  padding: 2rem 0;

  & .info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.2rem;


    & .copyright {
      font-size: 1rem;
    }
  }
}
