@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");

:root {
  --font-family: "Days One", sans-serif;

  --white: #fff;
  --black: #000;
  --opaqueBlack: rgba(0, 0, 0, 0.3);
  --opaqueYellow: rgba(255, 255, 0, 0.3);
  --yellow: #FFC500;

  --opaqueRed: rgba(255, 0, 0, 0.3);
  --red: #9e0000;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: min(90%, 120rem);
  margin: 0 auto;
}

/*Reutilizables*/

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  & .by,
  .powered {
    color: var(--white);
    font-family: var(--font-family);
  }

  & .link {
    color: var(--yellow);
    font-weight: normal;
  }

  & .by {
    font-size: 1.6rem;
  }

  & .powered {
    font-size: 1.2rem;
  }

  & .by,
  .powered {
    z-index: 2;
  }

  & .copyright {
    color: var(--white);
    font-size: 1.2rem;
    font-family: var(--font-family);
    text-align: center;
    z-index: 2;
  }
}

/**Header**/

.header {
  background-color: var(--black);
  height: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  & .image {
    width: min(70%, 50rem);
  }

  & .title {
    color: var(--white);
    font-family: var(--font-family);
  }

  & .title {
    font-size: 2.5rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    text-align: center;
    margin: 3rem 0;
  }

  & .by {
    margin: 2rem 0;
  }
}

/**Search Bar**/

.search-bar {
  text-align: center;
  & .search {
    margin: 2rem 0;
    width: 100%;
    padding: 1rem;
    border: 0.3rem solid var(--black);
    border-radius: 1rem;
    font-size: 1.6rem;
    font-family: var(--font-family);
    box-shadow: 0.2rem 0.2rem 0.3rem var(--black);
    transition: all 0.3s ease-in-out;

    &:focus {
      outline: none;
    }

    @media screen and (min-width: 768px) {
      width: 75%;
    }

    @media screen and (min-width: 1024px) {
      width: 50%;
    }
  }
}

/**Messages**/

.messages {
  font-family: var(--font-family);
  margin: 0 auto 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  & .alert {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }

  & .error {
    background-color: var(--opaqueRed);
    border-left: 0.5rem solid var(--red);
    border-right: 0.5rem solid var(--red);
  }

  & .loading {
    background-color: var(--opaqueYellow);
    border-left: 0.5rem solid var(--yellow);
    border-right: 0.5rem solid var(--yellow);
  }
}

/**Main**/
.main {

  & .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    & .page{
      font-size: 1.6rem;
      font-family: var(--font-family);
      font-weight: bold;
      min-width: 6rem;
      text-align: center;
    }

    & .button{
      padding: .5rem 2rem;
      border: 0.3rem solid var(--black);
      border-radius: 1rem;
      font-size: 1.6rem;
      font-family: var(--font-family);
      font-weight: bold;
      cursor: pointer;
      background-color: transparent;
    }
  }

  & .cards{
    min-height: 20rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    margin: 4rem 0;
    padding: 0 2rem;
    overflow: hidden;
    justify-items: center;

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
      
    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    & .card{
      width: 100%;
      height: 20rem;
      border-radius: 1rem;
      overflow: hidden;
      border: .5rem solid var(--black);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: scale 0.3s ease-in-out;

      & h2 {
        color: var(--black);
        font-size: 1.8rem;
        font-family: var(--font-family);
        text-align: center;
        font-weight: 400;
      }  
    }

    & .card:hover {
      cursor: pointer;
      scale: .98;
      transition: scale 0.3s ease-in-out;
    }

    & .not-found {
      & .not-found-text {
        color: var(--black);
        font-size: 3rem;
        font-family: var(--font-family);
        text-align: center;
        line-height: 20rem;
      }
    }

  }
  
}

/**Footer**/
.footer {
  background-color: var(--black);
  padding: 2rem 0;

  & .info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.2rem;


    & .copyright {
      font-size: 1rem;
    }
  }
}

/**Modal**/

.modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--opaqueBlack);
  color: var(--black);
  display: grid;
  place-items: center;
  overflow-y: auto;

  & .modal-header{
    text-align: right;

    & .close{
      all: unset;
      cursor: pointer;
      font-size: 3rem;
      background-color: var(--yellow);
      padding: 0 1rem;
      border-radius: .5rem;
      font-weight: 700;
      font-family: var(--font-family);
    }
  }

  & .modal-content {
    background-color: var(--white);
    padding: 2rem 2rem 4rem;
    border-radius: 1rem;
    width: min(80%, 70rem);
    border: 1rem solid var(--black);
    box-shadow: 0 0rem 6rem var(--opaqueYellow);
    font-family: var(--font-family);
    

    & .modal-body {
      text-align: center;

      & .modal-title{
        font-size: 3rem;
        margin-bottom: 2rem;
        border-bottom: .5rem solid var(--black);
      }

      & .modal-subtitle{
        text-align: right;
        font-size: 2rem;
      }

      & .modal-main-info{
        margin-top: 2rem;
        text-transform: uppercase;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        & span{
          font-weight: 700;
        }
      }
    }
  }
}
