@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

:root{
  --font-family: 'Days One', sans-serif;

  --white: #fff;
  --black: #000;
  --yellow: #ffcc00;
}

*{
  box-sizing: border-box;
}

*::before,
*::after{
  box-sizing: inherit;
}

html{
  font-size: 62.5%;
}

body{
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.container{
  width: min(90%, 120rem);
  margin: 0 auto;
}

.header{
  background-color: var(--black);
  height: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  & .image{
    width: min(70%, 50rem);
  }

  & .by, .powered, .title{
    color: var(--white);
    font-family: var(--font-family);
  }

  & .title{
    font-size: 2.5rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    text-align: center;
    margin: 3rem 0;
  }

  & .link{
    color: var(--yellow);
    font-weight: normal;
  }

  & .by{
    margin: 2rem 0;
    font-size: 1.6rem;
  }

  & .powered{
    font-size: 1.2rem;
  }

  & .by, .powered{
    z-index: 2;
  }
}

.search-bar{
  text-align: center;
  & .search{
    margin: 2rem 0;
    width: 100%;
    padding: 1rem;
    border: .3rem solid var(--black);
    border-radius: 1rem;
    font-size: 1.6rem;
    font-family: var(--font-family);
    box-shadow: .2rem .2rem .3rem var(--black);
    transition: all 0.3s ease-in-out;

    &:focus{
      outline: none;
    }

    @media screen and (min-width: 768px) {
      width: 75%;
    }

    @media screen and (min-width: 1024px) {
      width: 50%;
    }
  }
}

.main{
  min-height: 50vh;
}




