.userPage {
  text-align: center;
  margin: 4rem auto !important;

  & .title {
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 4rem;
    color: var(--amarillo);
    text-shadow: var(--text-shadow);
    stroke: var(--rojo);
    -webkit-text-stroke: 0.05rem var(--rojo);
  }

  & .subtitle,
  & .instructions {
    text-align: left;
  }

  & .subtitle {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--rojo);
  }

  & .instructions-container {
    border-radius: 5rem;
    padding: 2rem;
    background-color: var(--blanco);
    background-clip: padding-box;
    border: solid 0.5rem transparent;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -0.5rem;
      border-radius: 5rem;
      background: linear-gradient(to left bottom, var(--rojo), var(--amarillo));
    }

    & .instructions {
      font-size: 1.6rem;
      margin: 1rem 0;
      color: var(--azul-oscuro);
      list-style: upper-roman;
      list-style-position: inside;
      display: flex;
      gap: 1rem;
      flex-direction: column;

      & li {
        background: linear-gradient(to right, var(--azul-oscuro), var(--azul));
        color: transparent;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }
    }
  }

  & .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;

    & .label {
      font-size: 3rem;
      color: var(--amarillo);
      stroke: 0.05rem var(--rojo);
      -webkit-text-stroke: 0.05rem var(--rojo);
      letter-spacing: 0.2rem;
    }

    & .input-container{
      display: flex;
      flex-direction: column;
      text-align: left;

      & .input {
        font-size: 1.8rem;
        padding: 0.5rem 1rem;
        width: 100%;
        text-align: center;
        border-radius: 1rem;
        font-family: inherit;
        color: var(--azul-oscuro);
        border-color: var(--azul);
        outline: none;
  
        @media screen and (min-width: 768px) {
          width: auto;
        }
      }

      & .error{
        color: var(--rojo);
        margin-top: 0.5rem;
      }
    }

    & .submit {
      font-size: 1.8rem;
      padding: 0.5rem 1rem;
      width: 100%;
      text-align: center;
      border-radius: 1rem;
      font-family: inherit;
      color: var(--blanco);
      background-color: var(--amarillo);
      border: none;

      @media screen and (min-width: 768px) {
        width: auto;
        padding: 0.5rem 2rem;
      }

      &:hover{
        cursor: pointer;
      }
    }
  }
}
